.git/*
env/
venv/
.venv
.venv/
food_venv/
__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

db.sqlite3

.vscode/
/sent_emails/
media/
pytest.ini
/tests/
.pytest_cache
/test_media/
dump.json

