<!doctype html>
{% load static %}
{% load recipes_extras %}
{% csrf_token %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>

<body class="body">

    <header class="header">
    {% include 'includes/nav.html' %}
    </header>

    <main class="main container">

        <div class="main__header">
            {% block title %}
            <h1 class="main__title">Рецепты</h1>
            {% include 'includes/tags.html' %}
            {% endblock %}
        </div>

        <div class="card-list">
            {% block content %}
                {% for recipe in index %}
                    {% include 'includes/recipe_card.html' with page=page %}
                {% endfor %}
            {% endblock %}
        </div>

        {% if page_obj.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
        {% endif %}

    </main>

    {% include 'includes/footer.html' %}
    
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>
    <script src="{% static 'indexNotAuth.js' %}"></script>
    
</body>
</html>